
@font-face {
    font-family: 'Formula 1';
    src: url(Formula1-Regular.otf);
}
@font-face {
    font-family: 'Formula 1 a';
    src: url(Formula1-Bold.otf);
}

@media(max-width: 768px){

}



body {
    margin: 5px;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #000000;
    width: 99.3%;
    display: flex;
}
p{
    font-family: 'Formula 1';
}
html{
    font-family: 'Formula 1';
}
h3{
    font-family: 'Formula 1';
    color: white;
    display: flex;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 100;
    justify-content: center;
}
ul{
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
    border-bottom: white;
    justify-content: space-evenly;
    align-content: space-around 10%;
}
a{
    text-decoration: none;
    color:red;
    text-transform: none;
    transition: 0.25s ease;
}
ul li{
    text-decoration: none;
    margin: 0 0.75em;
}
ul:hover a{
    color: #575757
}
ul:hover a:hover {
    color: red;
    box-shadow: 0px 0 0 currentColor;
    font-size: 20px;
}
img{
    justify-self: right;
}

main{
     background-color: rgb(255, 255, 255);
      width: 75em;
      padding: 10px;
      margin: auto;
      border-radius: 10px;
      box-shadow: 10px 10px 100px#9c0202
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

#menu{
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#menu a {
    text-decoration: none;
    margin: 10px;
}
 h1 {
    font-family: 'Formula 1';
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    width: 98.4%;
    
}
